@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(0, 0, 0, 0.308);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

nav{
    background-color: rgba(0, 0, 0, 0.568);
    padding: 10px;
    transition: .5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
    background-color: #eee;
    color: black;
    border-radius: 5px;
}


.absolute{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
    border-radius: 5px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
}

#usuario{
    margin: auto;
    padding: 10px;
    
}
p{
    padding: 15px;
}

#Sexo{
    width: 100px;
    margin: 15px;
    padding: 10px;
}

#enviar{
    padding: 8px;
    margin: 10px;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}